@charset "utf-8";
/* CSS Document describing the style of the menu/horizontal top navigation bar */

/**********************************************/

div #frame {
  background-color: #222222;
  margin: auto;
  width: 780px;

  padding: 0.8em;
}
div#frame div {
  clear: left;
}
ul#navigation {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
ul#navigation li {
  list-style: none;
  float: left;
  /* ohne width - nach CSS 2.1 erlaubt */
  position: relative;
  margin: 0.2em;
  padding: 0px;
}

/**********************************************/

ul#navigation li ul {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 1.7em;
  left: -0.4em;
  display: none; /* Unternavigation ausblenden */
}
ul#navigation li:hover ul {
  display: block;
  /* Unternavigation in modernen Browsern einblenden */
}
ul#navigation li ul li {
  float: none;
  display: block;
  margin-bottom: 0.2em;
}

/**********************************************/

ul#navigation a,
ul#navigation span {
  display: block;
  width: 10em;
  /* Breite den in li enthaltenen Elementen zuweisen */
  padding: 0.7em 0em;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid black;
  border-left-color: white;
  border-top-color: white;
  color: #cc3300;

  /*background-image:url(./header_BG.png);*/
  background-image: linear-gradient(
    #222,
    #333
  ); /* Standard syntax (must be last) */
  background-color: gray; /* For browsers that do not support gradients */
  background-position: center;
}
ul#navigation a:hover,
ul#navigation span,
li a#aktuell {
  border-color: white;
  border-left-color: black;
  border-top-color: black;
  color: #ffd;
  background-color: gray;
}
ul#navigation li ul span {
  /* aktuelle Unterseite kennzeichnen */
  background-color: maroon;
}

/**********************************************/

/* Erweiterung zur dynamischen Ein-/Ausblendung */
ul#navigation li > ul {
  display: none;
  top: 1.6em;
}
ul#navigation li:hover > ul,
ul#navigation li > a#aktuell + ul {
  display: block;
}
